:root {
  --laranja: #f9a825;
  --cinza: #333;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

header,
footer {
  background: var(--cinza);
  padding: 25px;

  color: var(--laranja);
}
header {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

footer {
  font-size: 20px;
  text-align: right;
  text-transform: uppercase;
}

header a {
  background: white;
  padding: 20px;
  font-size: 20px;
  color: var(--cinza);
}

header a:hover {
  cursor: pointer;
  background: #804f00;
  color: whitesmoke;
}

.main {
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
}

.main > div {
  width: 45%;
}
.label {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.label span {
  font-size: 30px;
  background: #fdd498;
  border-radius: 20px;
  padding: 10px 20px;
  color: var(--cinza);
}

ul {
  margin: 20px;
}
ul li {
  list-style: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background: #fdd498;

  text-align: center;
  font-size: 20px;
  font-family: monospace;
  display: flex;
  justify-content: space-between;
}

ul li:hover {
  cursor: pointer;
  background: var(--cinza);
  color: var(--laranja);
}

ul li a {
  border-radius: 2px;
  padding: 5px 5px;
  margin-right: 12px;
  font-size: 14px;
  background: red;
  color: white;
  font-weight: bold;
  transform: scale(2, 1);
}
ul li a:hover {
  cursor: pointer;
  background: #610000;
  color: #ffd3d3;
}

.post {
  background: #d8d8d8;
  padding: 30px;
  border-radius: 10px;
  color: var(--cinza);
}
.post h1 {
  text-transform: uppercase;
  color: var(--cinza);
  margin-bottom: 14px;
  text-align: center;
}

.label-lista-comments {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 22px;
}

.comment {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background: whitesmoke;
}

.comment h1 {
}

.comment span {
  margin-left: 20px;
}

.comment p {
  margin-top: 10px;
  margin-left: 50px;
}

.comment a {
  float: right;
  background: black;
  color: #ffd483;
  padding: 10px;
  border-radius: 5px;
}
.comment a:hover {
  background: #171717;
  color: var(--laranja);
  cursor: pointer;
}

.comment input {
  border: none;
}

.post .comment:last-child {
  padding-bottom: 60px;
}
.desativado {
  pointer-events: none;
  background-color: grey !important;
}

form {
  display: flex;
  flex-direction: column;
}
form > * {
  border: 0;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 6px;
  background: #d8d8d8;
}
